.Answer {
	margin: 3px;
	border: 1px solid #00c3ff;
	box-shadow: 0 0 2px #00c3ff;
	box-shadow: 0 0 5px #00c3ff;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	font-size: 1.9em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-size: 100% 100%;
	background-image: linear-gradient(
		0deg,
		#0013c0e0,
		#b300004f,
		#a5000086,
		#a000004f
	);
}

.Answer:hover {
	border: 3px solid #ffbb00;
	box-shadow: 0 0 2px #ffbb00;
	box-shadow: 0 0 5px #ffbb00;
}

.AnswerText {
	padding: 6px;
}

.AnswerLetter {
	margin: -1px;
	padding: 0px 20px;
	border: 2px solid #00c3ff;
	box-shadow: 0 0 2px #00c3ff;
	box-shadow: 0 0 5px #00c3ff;
	border-radius: 15px;
	color: white;
	text-shadow: 0px 0px 0px #ffbb00, 0 0 3px #ffbb00, 0 0 6px #ffbb00;
	font-size: 1.4em;
}

.AnswerLetter:hover {
	border: 1px solid #ffbb00;
	box-shadow: 0 0 2px #ad7f00;
	box-shadow: 0 0 5px #ad7f00;
	background-color: #fbff00;
	color: #ad7f00;
	cursor: pointer;
}
