.tiles {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	height: 636px;
	width: 640px;
	padding: 2px;
	border-radius: 2%;
	border: 3px solid #ffa600;
	box-shadow: 0 0 5px #ffa600;
	margin: 5px;
}

.controlButtons {
	margin: 10px;
}

.reactPlayer {
	position: absolute;
	z-index: 10;
	width: 99%;
	height: 100%;
	left: 0;
	top: 0;
}
